@import '_utils.scss';

.Home {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  font-family: 'NanumSquare';
}

.Home-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding: 5% 8%;
  &-sentence {
    display: flex;
    line-height: 1.3em;
    font-family: 'NanumSquare';
    font-size: 1.6em;
    font-weight: 700;
    color: #fff;
  }
}

.Home-section {
  height: 42vh;
  padding: 5% 8% 0 8%;
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    box-sizing: border-box;
    font-size: 0.75em;
    font-weight: 800;
    color: #484848;
    box-sizing: border-box;
    > div {
      padding: 5px 0;
    }
    &-location {
      > div {
        display: flex;
        justify-content: space-between;
        > div:nth-child(1) {
          display: flex;
          .alert {
            display: flex;
            align-items: center;
            margin-left: 15px;
            font-weight: 400;
            color: #c90b0b;
            > i {
              margin-right: 3px;
            }
          }
        }
        > div:nth-child(2) {
          display: flex;
          align-items: center;
          color: #aaa;
          cursor: pointer;
          > i {
            margin-right: 3px;
            font-size: 0.6em;
          }
          margin-left: 10px;
          font-weight: 400;
        }
      }
    }
    input[type=text] {
      width: 100%;
      margin-top: 3%;
      padding: 8px;
      border: 1px solid #ebebeb;
      border-radius: 3px;
      font-size: 1.4em;
      font-family: 'NanumSquare';
      font-weight: 400;
      color: #757575;
      outline: none;
      -webkit-appearance: none;
      box-sizing: border-box;
      &:focus{
        border: 1px solid orange;
      }
    }
    &-distance {
      display: flex;
      justify-content: space-around;
      > label {
        display: flex;
        align-items: center;
        margin-top: 3%;
        color: #757575;
        font-size: 1.2em;
        font-weight: 400;
      }
    }
    input[type=radio] {
      margin-right: 5px;
    }
    &-button {
      display: flex;
      justify-content: center;
      button {
        width: 22%;
        padding: 4%;
        box-sizing: border-box;
        border: none;
        border-radius: 3px;
        background-color: #f97a35;
        color: #fff;
        font-size: 1.3em;
        font-weight: 700;
        font-family: 'NanumSquare';
      }
    }
  }
}
